:root{
    --verdePrincipal: #759604;
    --verdePrincipalTransparente: #749604d1;
    --grisSecundario: rgb(33, 39, 33);
}

@font-face {
    font-family: minecraft;
    src: url(./../assets/typos/minecraft/Minecraft.ttf);
}

html{
    background-color: var(--verdePrincipal);
}

body{
    position: relative;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: minecraft;
}


/* Container1 */

.intro, .configuracion, .juego {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--verdePrincipal);
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2s ease;
    z-index: 10;


    .img_principal{
        width: 50px;
        border: 1px solid black;
        transition: transform 1s ease; /* Transición suave */
    }
}


.configuracion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    padding: 100px;
    transition: opacity 2s ease; /* Transición suave */

    .title{
        font-size: 5rem;
        letter-spacing: 0.7rem;
    }

    .ajustes{
        font-size: 2rem;
        letter-spacing: 0.4rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
        border: 7px solid var(--grisSecundario);
        padding: 30px;
    }
    
    .ajuste{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        
        h2{
            width: 70%;
        }
    }
    
    .opcionesAjuste{
        width: 30%;
        display: flex;
        gap: 10px;
        flex-wrap: nowrap;
        justify-content: center;
    }

    
    .ajuste_sonido{
        margin-right: 19px;
    }

    .ajuste_elegir {
        font-size: 1.5rem;
    }
    

    .button{
        position: relative;
        top: 0;
        width: 80px;
        height: 80px;
        font-size: 2.2rem;
        border-radius: 100%;
        border: 3px solid var(--grisSecundario);
        background-color: var(--verdePrincipal);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 8px 2px 0px rgba(0,0,0,0.81);
    }
    
    .active{
        top: 6px;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        background-color: #d5ff49;
    }
    .playButton {
        width: 100%;
        font-size: 2rem;
        background-color: var(--verdePrincipal);
        border: 3px solid var(--grisSecundario);
        padding: 10px 0;
        box-shadow: 0px 8px 2px 0px rgba(0,0,0,0.81);
    }

    .ajuste_elegir .button{
        font-size: 1.5rem;
        width: auto;
        height: auto;
        padding: 5px;
    }
    .ajuste_elegir .opcionesAjuste{
        width: 50%;
    }
    .ajuste_elegir h2{
        width: 50%;
        text-align: center;
    }

    
    
    .maxAlimentoInput{
        box-shadow: 0px 6px 2px 0px rgba(0,0,0,0.81);
        font-size: 2.2rem;
        width: 50px;
        height: 50px;
        background-color: var(--verdePrincipal);
        outline: none;
    }
}

.juego{
    display: grid;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    grid-template-columns: 500px 1fr;
    grid-template-areas: 
    "logo tablero";
    z-index: 0 ;
}
.logo{
    width: 500px;
    height: 400px;
    grid-area: logo;
    margin-left: 300px;
    box-shadow: 0 0 100px 100px var(--verdePrincipal) inset;
    border: 6px solid var(--grisSecundario);
    
}

.tablero{
    width: 60%;
    height: 50%;
    border: 5px dashed var(--grisSecundario);
    grid-area: tablero;
    background-color: var(--verdePrincipal);
    position: relative;
}
.marcador{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -75px;
    color: var(--grisSecundario);
    font-family: minecraft;
    font-size: 60px;
}

.alimento{
    background-image: url(./../assets/images/alimento.png);
    background-color: var(--grisSecundario);
    border: 1px solid var(--verdePrincipal);
}
.contTablero{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(30, 1fr);

}

.colorCabeza{
    border: 1px solid var(--grisSecundario);
    background-color: rgb(18, 19, 19);
    z-index: 5;
}

.colorCuerpo{
    border: 1px solid var(--verdePrincipal);
    background-color: rgb(34, 34, 34);
}

.alert{
    width: 100%;
    height: 100%;
    font-family: minecraft;
    font-size: 5em;
    color: var(--grisSecundario);
    background-color: var(--verdePrincipalTransparente);
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.back_button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.desaparecer{
    display: none;
}
.mostrar{
    display: flex;
}